<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test1 for NodeJS</title>
    <style>
        p{
            font-family: Montserrat, Ubuntu-mono, sans;
            color: rgb(19, 19, 19);
        }
    </style>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>
        <p>Welcome to the shop application</p>
    </h1>
    <div class="container">
        <nav class="navbar-nav">
            <ul>
                <li class="navbar-item"><a href="/admin">Admin</a></li>
                <li class="navbar-item"><a href="/shop">Shop</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>